/* 1400 > 1200 */

@media (max-width: 1399.98px) {
  .telegram-cards-wrapper {
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .attachment-img-wrapper {
    height: 100%;
    width: 100%;
  }

  .attachment-img {
    height: 100%;
    width: 100%;
  }

  /* ---------- PAGE CATALOG ----------  */

  .catalog-map {
    max-width: 550px;
  }

  .catalog-map .catalog-card {
    max-width: 550px;
    min-width: 550px;
    max-height: 150px;
  }

  .catalog-map .catalog-card-header {
    max-width: 200px;
    max-height: 170px;
  }

  .catalog-map .card-content-map {
    display: block;
    max-width: 350px;
    min-width: 350px;
  }

  .catalog-map .catalog-card-body {
    padding: 10px;
    padding-top: 10px;
  }

  .catalog-map .catalog-card-text {
    font-size: 14px;
    line-height: 18px;
  }

  .catalog-map .catalog-card .card-text-small {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0px;
  }

  .catalog-map .metro-station-text {
    font-size: 12px;
    line-height: 16px;
  }

  .catalog-map .catalog-card-footer {
    padding: 10px;
  }

  .catalog-map .catalog-card-title {
    font-size: 18px;
    line-height: 24px;
  }

  .map-wrapper {
    min-width: calc(100vw - 610px);
  }

  /* ---------- END PAGE CATALOG ----------  */
}

/* 1200 > 992 */

@media (max-width: 1199.98px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }

  .city-selection {
    margin-right: 15px;
  }

  .like-btn {
    margin-right: 15px;
  }

  .btn-input {
    margin-right: 15px;
  }

  .rent-price-sum-green {
    font-size: 30px;
  }

  .popular-card-body .card-text {
    font-size: 16px;
    line-height: 24px;
    min-height: 48px;
  }

  /* ---------- PAGE CATALOG ----------  */

  .catalog-filters-wrapper-mobile {
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #F2F2F2;
  }

  .filters-btn-wrapper {
    max-width: 335px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 6px 0px;
  }

  .filters-btn-wrapper .city-selection {
    padding: 10px 12px 10px 42px;
    margin-right: 0;
    max-width: 287px;
    width: 100%;
    background-position: 7% center;
    text-align: left;
    border-right: 1px solid #F2F2F2;
  }

  .filters-btn-wrapper .other-filters-btn {
    padding: 10px 15px 10px 15px;
    max-width: 48px;
    width: 100%;
  }

  .modal-filters .modal-dialog {
    max-width: 100%;
  }

  .search-rent-filters-mobile {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    width: 100%;
    margin-bottom: 24px;
  }

  .search-rent-filters-mobile .select-apart-wrapper {
    margin-bottom: 20px;
    width: 100%;
  }

  .search-rent-filters-mobile .chosen-container-multi .chosen-choices {
    width: 100%;
    border: 1px solid #F1F2F6;
    border-radius: 6px;
    justify-content: flex-start;
    background-position: 99% center;
  }

  .search-rent-filters-mobile .rooms-checks {
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F1F2F6;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 20px;
  }

  .search-rent-filters-mobile .rooms-checks .form-check {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .search-rent-filters-mobile .rooms-checks .btn-check-label {
    text-align: center;
    width: 100%;
  }

  .search-rent-filters-mobile .select-apart-wrapper .chosen-container .chosen-drop {
    width: 100%;
  }

  .search-rent-filters-mobile .form-price-wrapper {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #F1F2F6;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 6px;
  }

  .search-rent-filters-mobile .form-price-title {
    font-size: 14px;
    line-height: 13px;
    padding: 15px 20px;
  }

  .search-rent-filters-mobile .form-price-line {
    display: block;
    font-size: 18px;
    line-height: 18px;
    color: #E6E6E6;
  }

  .search-rent-filters-mobile .form-price-wrapper .select {
    margin-bottom: 0;
    width: 100%;
  }

  .search-rent-filters-mobile .form-price-wrapper .form-select {
    background-position: 97% center;
    border: none;
    max-width: 100%;
    min-width: 100%;
  }

  .search-rent-filters-mobile .select-address-wrapper .chosen-container-multi .chosen-choices {
    max-width: 100%;
  }

  /* ---------- END PAGE CATALOG ----------  */

  /* DOCUMENTS */

  .documents-wrapper {
    padding: 40px;
    padding-left: 20px;
  }

  .docs-nav {
    max-width: 290px;
    min-width: 290px;
  }

  .doc-tab {
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
  }

  .docs-nav .doc-tab::before {
    content: '';
    width: 3px;
    height: 30px;
    left: -20px;
  }

  .doc-content {
    border-left: 1px solid #F1F2F6;
    padding-left: 24px;
  }

  .doc-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .doc-link {
    margin-bottom: 20px;
  }

  .doc-text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .doc-subtitle {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 20px;
  }

  /* END DOCUMENTS */
}

/* 992 > 768 */

@media (max-width: 991.98px) {
  .navbar-light .navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #F2F2F2;
  }

  .navbar-toggler.collapsed .lang-wrapper {
    display: none;
    transition: all .5s ease-in-out;
  }

  .navbar-toggler:not(.collapsed) .lang-wrapper {
    display: block;
    margin-left: auto;
    transition: all .5s ease-in-out;
  }

  .navbar-toggler.collapsed .navbar-brand {
    display: flex;
    transition: all .5s ease-in-out;
  }

  .navbar-toggler:not(.collapsed) .navbar-brand {
    display: none;
    transition: all .5s ease-in-out;
  }

  .navbar-toggler.collapsed .like-btn {
    display: flex;
    transition: all .5s ease-in-out;
  }

  .navbar-toggler:not(.collapsed) .like-btn {
    display: none;
    transition: all .5s ease-in-out;
  }

  .navbar-brand {
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-collapse.show {
    min-height: 100vh;
    transition: .3s cubic-bezier(0.97, 0.67, 1, 1);
    background: #fff;
    width: 100%;
  }

  .like-btn {
    margin-right: 0;
  }

  .btn-burger {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-34%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
  }

  .btn-burger:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .btn-burger span,
  .btn-burger span:before,
  .btn-burger span:after {
    width: 30px;
    position: absolute;
    left: 0;
    height: 1px;
    background: #121111;
    display: block;
    transition: .3s;
    border-radius: 5px;
  }

  .btn-burger span::before {
    content: "";
    top: -10px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .btn-burger span {
    top: 10px;
  }

  .btn-burger span::after {
    content: "";
    bottom: -10px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .btn-burger span.active:before {
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .btn-burger span.active:after {
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .btn-burger span.active {
    background: rgba(255, 255, 255, 0);
  }

  .navbar-collapse {
    position: fixed;
    top: 62px;
    z-index: 1020;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-input {
    order: 0;
  }

  .city-selection {
    order: 1;
  }

  .navbar-nav {
    order: 2;
    width: 100%;
  }

  .btn-input {
    background: url(../img/input-icon.png) no-repeat 20px center,
      linear-gradient(#f2f2f2, #f2f2f2);
    border: none;
    border-radius: 0;
    padding: 20px;
    padding-left: 39px;
    font-size: 16px;
    line-height: 24px;
    color: #121111;
    width: 100%;
    text-align: left;
  }

  .btn-input:hover,
  .btn-input:focus {
    background: #F2F2F2;
    color: #121111;
    border: none;
  }

  .city-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: none;
    border-radius: 0;
    padding: 20px;
    padding-left: 39px;
    font-size: 16px;
    line-height: 20px;
    color: #121111;
    width: 100%;
    text-align: left;
    background-position: 20px center;
  }

  .city-selection:hover,
  .city-selection:focus {
    color: #121111;
    border: none;
  }

  .city-selection::after {
    content: '';
    display: flex;
    width: 95%;
    height: 1px;
    background: rgba(18, 17, 17, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .city-selection-btn {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #22A720;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    line-height: 24px;
    color: #121111;
    text-align: left;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    position: relative;
    border: none;
    border-radius: 0;
    padding: 20px;
    width: 100%;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: #121111;
    border: none;
  }

  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show>.nav-link {
    color: #121111;
  }

  .nav-link::after {
    content: '';
    display: flex;
    width: 95%;
    height: 1px;
    background: rgba(18, 17, 17, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn-my-office-mobile {
    padding: 20px;
    position: relative;
    width: 100%;
    border: none;
    border-radius: 0;
  }

  .btn-my-office-text {
    font-size: 16px;
    line-height: 20px;
  }

  .btn-my-office-mobile::after {
    content: '';
    display: flex;
    width: 95%;
    height: 1px;
    background: rgba(18, 17, 17, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-rent {
    flex-direction: column;
    background: transparent;
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
  }

  .select-apart-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  .select-apart-wrapper .chosen-container-multi .chosen-choices {
    width: 100%;
    border-radius: 6px;
    background: #ffffff url(../img/select-arrow.png) no-repeat 95% center;
  }

  .select-apart-wrapper .chosen-container .chosen-drop {
    top: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    border-radius: 6px;
    width: 100%;
  }

  .search-rent .select {
    width: 100%;
    margin-bottom: 10px;
  }

  .select-housing {
    z-index: 1010;
  }

  .search-rent .form-select {
    border: none;
    max-width: 100%;
    min-width: 100%;
    background-position: 670px center;
  }

  .select__dropdown {
    z-index: 1010;
  }

  .select_show .select__dropdown {
    z-index: 1010;
  }

  .rooms-checks {
    justify-content: space-between;
    align-items: center;
    border: none;
    background: #fff;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 10px;
  }

  .rooms-checks .form-check {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .rooms-checks .btn-check-label {
    text-align: center;
    width: 100%;
  }

  .btn-check:active+.btn-check-label-studio,
  .btn-check:checked+.btn-check-label-studio,
  .btn-check-label-studio.active,
  .btn-check-label-studio:active {
    border-radius: 6px 0px 0px 6px;
  }

  .btn-check:active+.btn-check-label-four,
  .btn-check:checked+.btn-check-label-four,
  .btn-check-label-four.active,
  .btn-check-label-four:active {
    border-radius: 0px 6px 6px 0px;
  }

  .form-price-wrapper {
    display: flex;
    align-items: center;
    background: #fff;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 6px;
  }

  .form-price-title {
    font-size: 14px;
    line-height: 13px;
    padding: 15px 20px;
  }

  .form-price-line {
    display: block;
    font-size: 18px;
    line-height: 18px;
    color: #E6E6E6;
  }

  .form-price-wrapper .select {
    margin-bottom: 0;
  }

  .form-price-wrapper .form-select {
    background-position: 280px center;
  }

  .search-rent .form-control {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .select-address-wrapper {
    margin-bottom: 24px;
  }

  .select-address-wrapper .chosen-container-multi .chosen-choices {
    background: #fff;
    border-radius: 6px;
    max-width: 100%;
  }

  .select-address-wrapper .chosen-container .chosen-drop {
    top: 100%;
  }

  .btn-search-rent {
    padding: 13px 140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .principle-item {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .principle-item-four {
    margin-bottom: 0px;
  }

  .benefit {
    padding-bottom: 355px;
  }

  .benefit-title {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .calculator {
    top: auto;
    bottom: 15px;
    padding-top: 135px;
  }

  .rent-price {
    margin-left: 0;
  }

  .rent-price-line {
    max-width: 100%;
    height: 1px;
    background: #000000;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .rent-price-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 335px;
  }

  .iphone-img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .telegram-cards-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .telegram-card {
    justify-content: center;
  }

  .telegram-card-content {
    min-width: 471px;
  }

  .reviews-title {
    text-align: center;
    margin-bottom: 50px;
  }

  .reviews-wrapper {
    flex-direction: column;
  }

  .gallery-top-wrapper {
    position: static;
    width: 100%;
    max-width: 100%;
    order: 1;
  }

  .gallery-thumbs {
    order: 0;
    margin-bottom: 30px;
  }

  .gallery-thumbs .swiper-wrapper {
    align-items: center;
  }

  .slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swiper-button-next {
    right: 0;
    left: auto;
  }

  .attachment-content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .main-footer {
    padding: 30px 0px;
  }

  .footer-top {
    margin-bottom: 0;
  }

  .footer-line {
    margin: 24px auto;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0.15;
  }

  .footer-logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .footer-text {
    display: block;
    text-align: center;
  }

  .footer-copy {
    margin-bottom: 28px;
  }

  .footer-conditions {
    margin-bottom: 10px;
  }

  .footer-politics {
    margin-bottom: 18px;
  }

  /* ---------- PAGE CATALOG ----------  */

  .catalog-filters-wrapper-mobile {
    padding-top: 45px;
    padding-bottom: 22px;
    border-bottom: 1px solid #F2F2F2;
  }

  .catalog-filters-wrapper-mobile .filters-btn-wrapper {
    margin-bottom: 16px;
  }

  .btn-map {
    display: none;
  }

  .catalog-filters-wrapper-mobile .btn-map-mobile {
    display: block;
    background: #F1F2F6 url(../img/map-icon.png) no-repeat 35% center;
    border: 1px solid #F1F2F6;
    border-radius: 6px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #121111;
    padding: 15px 25px;
    max-width: 335px;
    min-width: 335px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-filters-wrapper-mobile .btn-map-mobile:hover,
  .catalog-filters-wrapper-mobile .btn-map-mobile:focus {
    background: #F1F2F6 url(../img/map-icon.png) no-repeat 35% center;
    border: 1px solid #F1F2F6;
    color: #121111;
  }

  .catalog-filters-wrapper-mobile .filters-btn-wrapper .city-selection {
    order: 0;
  }

  .catalog-filters-wrapper-mobile .city-selection::after {
    display: none;
  }

  .catalog-filters-wrapper-mobile.map-open {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #F2F2F2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1400;
  }

  .catalog-filters-wrapper-mobile.map-open .filters-btn-wrapper {
    max-width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
  }

  .catalog-filters-wrapper-mobile.map-open .filters-btn-wrapper .city-selection {
    max-width: 100%;
    background-position: 3% center;
  }

  .catalog-filters-wrapper-mobile.map-open .filters-btn-wrapper .other-filters-btn {
    margin-right: 1%;
  }

  .catalog-filters-wrapper-mobile.map-open .btn-exit-map {
    border: none;
    border-right: 1px solid #F2F2F2;
    padding: 10px 15px 10px 15px;
    max-width: 48px;
    width: 100%;
    margin-left: 1%;
    background: #fff;
    box-shadow: none;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sticky-wrapper {
    position: relative;
  }

  .catalog-wrapper.catalog-map {
    display: none;
  }

  .map-wrapper {
    max-height: 100vh;
    min-height: 100vh;
    margin-left: -2%;
    margin-top: 3%;
    min-width: 100vw;
    z-index: 1400;
    left: 0;
  }

  .btn-list {
    right: auto;
    left: 1%;
  }

  .search-rent-filters-mobile {
    max-width: 720px;
  }

  .modal {
    z-index: 1500;
    padding: 0;
  }

  .modal.show {
    padding: 0;
  }

  .modal-filters-title {
    margin-bottom: 14px;
  }

  .modal-filters .modal-content {
    border-radius: 0;
    position: relative;
  }

  .modal-filters .modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: sticky;
    top: 0;
    right: 0;
  }

  .modal-filters .modal-footer {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: sticky;
    bottom: 0;
    right: 0;
    margin-top: 20px;
  }

  .catalog-sorting-wrapper {
    margin-right: 0;
  }

  .catalog-pages-wrapper {
    flex-direction: column;
  }

  .catalog-pages-nav {
    order: 0;
    margin-bottom: 40px;
  }

  .pagination {
    justify-content: center;
  }

  .catalog-pages-shown {
    order: 1;
    margin: 0 auto;
  }

  .catalog-sorting .chosen-container .chosen-drop {
    right: 0;
  }

  /* ---------- END PAGE CATALOG ----------  */

  /* ---------- FAVORITES PAGE ---------- */

  .favorites-body-content .map-wrapper {
    margin-top: 5%;
  }

  .favorites-body-content .catalog-filters-wrapper-mobile.map-open .btn-map-mobile {
    display: none;
  }

  .favorites-body-content .catalog-filters-wrapper-mobile .btn-map-mobile {
    background: #F1F2F6 url(../img/map-icon.png) no-repeat 8% center;
  }

  .favorites-body-content .btn-list {
    background: #ffffff url(../img/list-icon.png) no-repeat 6% center;
  }

  /* ---------- END FAVORITES PAGE ---------- */

  /* ---------- NEW APARTMENT ---------- */

  .nas-title {
    font-size: 18px;
    line-height: 26px;
  }

  .comfort-card-icon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }

  .comfort-card-icon img {
    width: 36px;
    height: 36px;
  }

  .comfort-card-text {
    font-size: 12px;
    line-height: 16px;
  }

  /* ---------- END NEW APARTMENT ---------- */

  /* ---------- APARTMENT ---------- */

  .apartment {
    padding-top: 42px;
  }

  .apart-return-link {
    background: transparent;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .apart-return-link svg {
    margin-right: 10px;
  }

  .apart-return-link span {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #121111;
    opacity: 0.4;
  }

  .gallery-apart {
    height: 470px;
    margin-bottom: 16px;
  }

  .gallery-apart .swiper-pagination {
    max-width: 42px;
    max-height: 24px;
    opacity: 1;
    padding: 5px 10px;
    background: rgba(18, 17, 17, 0.6);
    border-radius: 6px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .apartment-date {
    font-size: 12px;
    line-height: 16px;
  }

  .apartment .like-btn {
    order: 1;
  }

  .apart-to-favorite svg {
    margin-right: 0px;
  }

  .apart-to-share svg {
    margin-right: 26px;
  }

  .apartment .catalog-title {
    font-size: 16px;
    line-height: 22px;
  }

  .apartment-address {
    font-size: 14px;
    line-height: 22px;
  }

  .apartment-metro {
    margin-bottom: 22px;
  }

  .apartment-metro span {
    font-size: 14px;
    line-height: 14px;
  }

  .phone-calc-btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .a-i-calc-btn {
    border: 1px solid transparent;
    padding: 10px;
    min-width: 160px;
  }

  .calc-btn-benefit {
    min-width: 160px;
  }

  .apartment .nas-btn-ghost {
    padding: 10px;
  }

  .modal-calculator .modal-header .btn-close {
    margin: 0;
  }

  .modal-calculator .modal-title {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .modal-calculator .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-calculator .apartment-info-calculate {
    background: #FFFFFF;
    box-shadow: none;
    border-radius: 0;
    padding: 47px 24px 36px 24px;
    max-width: 100%;
    margin: auto;
    width: 100%;
  }

  .modal-calculator .modal-footer {
    flex-wrap: nowrap;
    justify-content: center;
    border: none;
    border-radius: 0;
  }

  .modal-calculator .modal-footer .a-i-calc-btn {
    max-width: 335px;
  }

  .apart-modal .modal-body .swiper-container {
    max-width: 100%;
    height: 45%;
  }

  /* ---------- END APARTMENT ---------- */

  /* DOCUMENTS */

  .documents-wrapper {
    padding: 10px 8px;
  }

  .doc-accordion {
    width: 100%;
  }

  .a-btn {
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #121111;
    background-color: transparent;
    border: none;
    border-top: 1px solid #F1F2F6;
    border-bottom: 1px solid #F1F2F6;
    text-align: left;
    outline: none;
    box-shadow: none;
  }

  .a-btn:hover,
  .a-btn:focus {
    outline: none;
    box-shadow: none;
  }

  .accordion-button.collapsed {
    border-top: 1px solid #F1F2F6;
    border-bottom: 1px solid #F1F2F6;
  }

  .a-i-doc:first-of-type .a-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-bottom: 1px solid #F1F2F6;
  }

  .a-i-doc:last-of-type .a-btn.collapsed {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    border-top: 1px solid #F1F2F6;
  }

  .a-btn:not(.collapsed) {
    color: #121111;
    background-color: transparent;
  }

  .accordion-button::after {
    width: 13px;
    height: 8px;
    content: "";
    background-image: url(../img/accordeon-arrow.svg);
    background-repeat: no-repeat;
    background-size: 13px 8px;
    transition: transform .2s ease-in-out;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url(../img/accordeon-arrow.svg);
    transform: rotate(180deg);
  }

  .a-c-doc {
    border: none;
  }

  .a-b-doc {
    padding: 20px;
  }

  /* END DOCUMENTS */

  /* FAQ */

  .faq-wrapper {
    padding: 25px 8px;
  }

  .a-faq {
    width: 100%;
  }

  .a-btn-faq {
    justify-content: flex-start;
    width: 100%;
    padding: 25px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #121111;
    background-color: transparent;
    border: none;
    border-top: 1px solid #F1F2F6;
    border-bottom: 1px solid #F1F2F6;
    text-align: left;
    outline: none;
    box-shadow: none;
  }

  .a-btn-faq:hover,
  .a-btn-faq:focus {
    outline: none;
    box-shadow: none;
  }

  .a-btn-faq.collapsed {
    border-top: 1px solid #F1F2F6;
    border-bottom: 1px solid #F1F2F6;
  }

  .a-i-faq:first-of-type .a-btn-faq {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-bottom: 1px solid #F1F2F6;
  }

  .a-i-faq:last-of-type .a-btn-faq.collapsed {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    border-top: 1px solid #F1F2F6;
  }

  .a-btn-faq:not(.collapsed) {
    color: #121111;
    background-color: transparent;
  }

  .a-btn-faq::after {
    width: 18px;
    height: 18px;
    content: "";
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    transition: transform .2s ease-in-out;
  }

  .a-btn-faq:not(.collapsed)::after {
    background-image: url(../img/minus.svg);
    transform: rotate(0deg);
  }

  .a-c-faq {
    border: none;
  }

  .a-b-faq {
    padding: 24px 0px;
  }

  .faq-text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
  }

  .faq-text:last-child {
    margin-bottom: 0px;
  }

  /* END FAQ */
}

/* 768 > 576  */

@media (max-width: 767.98px) {
  .header-logo {
    width: 106px;
  }

  .btn-burger {
    width: 21px;
    height: 21px;
    left: 8px;
  }

  .btn-burger span {
    top: 7px;
    width: 21px;
  }

  .btn-burger span::before {
    top: -7px;
    width: 21px;
  }

  .btn-burger span::after {
    bottom: -7px;
    width: 21px;
  }

  .main-title {
    margin-bottom: 30px;
  }

  .popular-card-body {
    padding: 10px;
    padding-bottom: 0;
  }

  .card-body-header {
    margin-bottom: 10px;
  }

  .popular-card-body .card-title {
    font-size: 14px;
    line-height: 20px;
  }

  .card-body-header .toggle-heart-label svg {
    width: 16px;
  }

  .popular-card-body .card-text {
    font-size: 12px;
    line-height: 16px;
    min-height: auto;
    margin-bottom: 12px;
  }

  .popular-card .card-footer {
    padding: 10px;
    padding-top: 0;
  }

  .popular-card .card-text-small {
    font-size: 10px;
    line-height: 13px;
  }

  .card-img-top {
    border-radius: 6px 0px 0px 6px;
  }

  .telegram-card-content {
    max-width: 415px;
    min-width: 415px;
  }

  .attachment-content {
    padding: 30px 20px;
  }

  .attachment-title {
    text-align: center;
  }

  .attachment-text {
    text-align: center;
  }

  .attachment-links {
    justify-content: center;
  }

  /* ---------- PAGE CATALOG ----------  */

  .modal-city-selection .modal-dialog {
    max-width: 500px;
  }

  .search-rent-filters-mobile {
    max-width: 100%;
  }

  .floor-group {
    margin-bottom: 10px;
  }

  .filter-checkbox-wrapper {
    justify-content: space-between;
  }

  .filter-checkbox {
    width: 100%;
  }

  .filter-btn-check {
    width: 100%;
  }

  .filters-group-metro {
    margin-top: 10px;
  }

  .filters-group-metro .floor-group {
    margin-bottom: 0;
  }

  .modal-filters-text {
    min-width: 51px;
  }

  .clear-filters-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #121111;
    background: #fff;
    padding: 8px;
  }

  .clear-filters-btn:hover,
  .clear-filters-btn:focus {
    text-decoration-line: underline;
    color: #121111;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .modal-filters .modal-header {
    display: flex;
    justify-content: space-between;
  }

  .modal-filters .modal-header .btn-close {
    order: -1;
  }

  .show-offers-btn {
    padding: 12px;
    width: 100%;
  }

  .modal-city-selection .modal-dialog {
    max-width: 500px;
  }

  .map-card-swiper-wrapper {
    max-height: 130px;
    position: absolute;
    bottom: 20px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .map-card-swiper .popular-card {
    max-width: 335px;
  }

  .map-card-swiper .card-img-top {
    height: 100%;
  }

  .map-card-swiper .card-title {
    margin-bottom: 0;
  }

  .map-card-swiper .card-body-header {
    margin-bottom: 0;
  }

  .map-card-swiper .popular-card .card-footer {
    display: flex;
    justify-content: space-between;
  }

  .map-card-swiper .metro-station-text {
    font-size: 10px;
    line-height: 9px;
  }

  .map-card-swiper .toggle-heart {
    visibility: hidden;
  }

  /* ---------- END PAGE CATALOG ----------  */

  /* ---------- FAVORITES PAGE ---------- */

  .favorites-body-content .btn-list {
    left: 50%;
    transform: translateX(-50%);
  }

  /* ---------- END FAVORITES PAGE ---------- */

  /* ---------- NEW APARTMENT ---------- */

  .nas {
    border-radius: 6px;
    padding: 30px 20px;
  }

  .nas-card {
    flex-direction: row;
    margin-bottom: 24px;
    max-width: 100%;
  }

  .nas-card-icon {
    margin-bottom: 0;
    margin-right: 16px;
  }

  .nas-about-apartment .modal-filters-text {
    min-width: auto;
  }

  .file-control-btn {
    margin-right: 0;
  }

  .file-control-title {
    display: none;
  }

  .nas-price-checkbox-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .nas-price-checkbox-wrapper .filter-checkbox {
    width: auto;
    margin-bottom: 8px;
  }

  /* ---------- END NEW APARTMENT ---------- */

  /* ---------- APARTMENT ---------- */

  .gallery-apart {
    height: 381px;
  }

  .a-i-calc-month-mobile {
    font-size: 24px;
    line-height: 32px;
  }

  .a-i-calc-month {
    font-size: 28px;
    line-height: 38px;
  }

  .a-i-calc-all-cash {
    font-size: 16px;
    line-height: 24px;
  }

  .a-i-calc-all-text {
    font-size: 12px;
    line-height: 16px;
  }

  .a-i-calc-range .irs--flat .irs-single {
    font-size: 16px;
    line-height: 20px;
  }

  .a-i-calc-range-from-to span {
    font-size: 12px;
    line-height: 16px;
  }

  .a-i-compare-title {
    font-size: 14px;
    line-height: 20px;
  }

  .a-i-market-price-cash {
    font-size: 20px;
    line-height: 24px;
  }

  .a-i-market-price-text {
    font-size: 12px;
    line-height: 20px;
  }

  .a-i-calc-pay-cash {
    font-size: 16px;
    line-height: 26px;
  }

  .apart-info-top-number {
    font-size: 18px;
    line-height: 24px;
  }

  .apart-info-top-text {
    font-size: 12px;
    line-height: 16px;
  }

  .apartment-info-title {
    font-size: 18px;
    line-height: 26px;
  }

  .apartment-info-about {
    justify-content: space-between;
  }

  .apart-info-about-left {
    margin-right: 0;
  }

  .apart-info-about-text {
    font-size: 14px;
    line-height: 22px;
    padding: 6px 0px;
  }

  .apart-info-nearby-card .card-title {
    font-size: 14px;
    line-height: 22px;
  }

  .apart-info-nearby-card .card-body {
    padding-left: 0;
  }

  .similar-ads .card-slider .swiper-slide img {
    width: 100%;
    border-radius: 6px 0px 0px 6px;
    height: 100%;
  }

  /* ---------- END APARTMENT ---------- */
}

/* 576 > 320  */

@media (max-width: 575.98px) {
  .btn {
    padding: 12px 36px;
    font-size: 14px;
  }

  .btn-my-office-mobile {
    padding: 20px;
  }

  .navbar-light .navbar-toggler {
    z-index: 2500;
    border-bottom: 1px solid #F2F2F2;
  }

  .clear-filters-btn {
    padding: 8px;
  }

  .main-city-chosen-select {
    width: 100%;
  }

  .modal-city-selection .city-selection-list .city-selection-list-item {
    flex-direction: column;
  }

  .modal-city-selection .city-selection-list .city-selection-list-item span:first-child {
    margin-bottom: 5px;
  }

  .search-rent .form-select {
    font-size: 12px;
    line-height: 11px;
    border-radius: 0px 6px 6px 0px;
  }

  .rooms-checks .btn-check-label {
    font-size: 12px;
    line-height: 11px;
  }

  .form-price-title {
    font-size: 12px;
    line-height: 11px;
  }

  .search-rent .form-control {
    font-size: 12px;
    line-height: 11px;
  }

  .search-rent .form-control::placeholder {
    font-size: 12px;
    line-height: 11px;
  }

  .btn-search-rent {
    padding: 13px 115px;
  }

  .principles-text {
    font-size: 14px;
    line-height: 24px;
  }

  .principles-text:first-of-type {
    margin-bottom: 20px;
  }

  .principles-text:last-of-type {
    margin-bottom: 24px;
  }

  .principle-item {
    margin-bottom: 20px;
  }

  .principle-item-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .principle-item-text {
    font-size: 14px;
    line-height: 24px;
  }

  .benefit-card-body {
    padding: 16px 20px;
  }

  .benefit-card-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .benefit-card-text {
    font-size: 16px;
    line-height: 24px;
  }

  .calculator {
    bottom: -5px;
  }

  .rent-price-text {
    font-size: 14px;
    line-height: 20px;
    max-width: 140px;
  }

  .rent-price-sum {
    font-size: 18px;
    line-height: 28px;
  }

  .rent-price-line {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .rent-price:last-of-type {
    margin-bottom: 40px;
  }

  .popular-ads-title {
    margin-bottom: 24px;
  }

  .popular-cards-wrapper {
    margin-bottom: 40px;
  }

  .card-img-top {
    height: 100%;
    width: 100%;
  }

  .card-body-header {
    margin-bottom: 0;
    align-items: flex-start;
  }

  .search-map-content {
    padding: 40px 16px;
    max-width: 295px;
  }

  .search-map-title {
    line-height: 32px;
    margin-bottom: 18px;
  }

  .search-map-text {
    margin-bottom: 32px;
  }

  .telegram-title {
    font-size: 24px;
    line-height: 34px;
  }

  .telegram-card {
    margin-bottom: 24px;
  }

  .telegram-card-img-wrapper {
    width: 54px;
    height: 54px;
  }

  .telegram-card-img {
    width: 40px;
    height: 40px;
  }

  .telegram-card-img img {
    width: 22px;
    height: 22px;
  }

  .telegram-card-content {
    max-width: 265px;
    min-width: 265px;
  }

  .telegram-card-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .telegram-card-text {
    font-size: 14px;
    line-height: 24px;
  }

  .slider-content-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 14px;
  }

  .slider-content-stars {
    margin-bottom: 30px;
  }

  .slider-content-text {
    font-size: 14px;
    line-height: 22px;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .attachment-title {
    font-size: 24px;
    line-height: 32px;
  }

  .footer-logo-img {
    width: 107px;
  }

  .modal-enter .modal-dialog {
    max-width: 100%;
  }

  .modal-enter .modal-content {
    border-radius: 0;
  }

  .modal-enter .modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .modal-enter .modal-body {
    padding: 70px 20px 50px 20px;
  }

  .modal-enter .form-control {
    font-size: 12px;
    padding: 12px;
    padding-left: 20px;
  }

  .modal-enter .form-control::placeholder {
    font-size: 12px;
  }

  .btn-enter {
    padding: 12px 20px;
    font-size: 14px;
  }

  .modal-enter-social-item {
    width: 44px;
    height: 44px;
  }

  .modal-enter .modal-footer {
    padding: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-enter-link {
    line-height: 13px;
  }

  /* Added To Favorites */

  .added-favorites {
    right: auto;
    transform: translateX(-50%);
    left: 50%;
    min-width: 340px;
  }

  .added-favorites-line {
    margin-left: 16px;
    margin-right: 16px;
  }

  /* End Added To Favorites */

  /* ---------- PAGE CATALOG ----------  */

  .found-text {
    margin-bottom: 15px;
  }

  .modal-city-selection .modal-dialog {
    max-width: 100%;
  }

  .filter-btn-check {
    padding: 10px;
    font-size: 11px;
  }

  .map-wrapper {
    margin-top: 10%;
    margin-left: -10%;
  }

  .btn-list {
    padding: 9px 22px 9px 43px;
  }

  .filters-btn-wrapper {
    max-width: 100%;
  }

  .catalog-filters-wrapper-mobile .btn-map-mobile {
    max-width: 100%;
    min-width: 100%;
    background: #F1F2F6 url(../img/map-icon.png) no-repeat 33% center;
  }

  .catalog-filters-wrapper-mobile .btn-map-mobile:hover,
  .catalog-filters-wrapper-mobile .btn-map-mobile:focus {
    background: #F1F2F6 url(../img/map-icon.png) no-repeat 33% center;
    border: 1px solid #F1F2F6;
    color: #121111;
  }

  .catalog-sorting .chosen-container .chosen-drop {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  /* ---------- END PAGE CATALOG ----------  */

  /* ---------- FAVORITES PAGE ---------- */

  .favorites-body-content .map-wrapper {
    margin-top: 8%;
  }

  .favorites-body-content .btn-list {
    font-size: 12px;
    max-width: 300px;
    background: #ffffff url(../img/list-icon.png) no-repeat 5% center;
    padding: 9px 9px 9px 34px;
    width: 100%;
  }

  .favorites-empty {
    padding-bottom: 100px;
  }

  .favorites-empty .catalog-title {
    margin-bottom: 40px;
  }

  .favorites-empty-img {
    max-width: 190px;
    margin-bottom: 40px;
  }

  .favorites-empty-title {
    font-size: 20px;
    line-height: 24px;
  }

  .favorites-empty-text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 264px;
  }

  .favorites-body-content .map-wrapper {
    margin-top: 9%;
    margin-left: -4%;
  }

  /* ---------- END FAVORITES PAGE ---------- */

  /* ---------- NEW APARTMENT ---------- */

  .nas-card-icon svg {
    width: 36px;
    height: 36px;
  }

  .nas-btn {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
  }

  .nas-btn-ghost {
    width: 100%;
  }

  .nas-about-apartment .modal-filters-group {
    margin-bottom: 10px;
  }

  .nas-about-apartment .floor-group {
    margin-bottom: 0;
  }

  .nas-about-apartment .filter-checkbox-wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .nas-about-apartment .nas-rooms-checkbox-wrapper {
    flex-wrap: nowrap;
  }

  .nas-about-apartment .filter-checkbox {
    width: auto;
    margin-bottom: 8px;
  }

  .nas-about-apartment .nas-rooms-checkbox-wrapper .filter-checkbox {
    width: 100%;
    margin-bottom: 0;
  }

  .comfort-card {
    max-width: 180px;
    padding: 14px 10px;
    margin-bottom: 12px;
  }

  .comfort-card-icon {
    margin-right: 5px;
  }

  .nas-btns-finish {
    flex-direction: column;
  }

  .nas-btns-finish .nas-btn-ghost {
    margin-right: 0;
    margin-bottom: 16px;
  }

  /* ---------- END NEW APARTMENT ---------- */

  /* ---------- APARTMENT ---------- */

  .gallery-apart {
    height: 245px;
  }

  .apart-info-nearby-card .card-body {
    padding-left: 10px;
  }

  .apart-info-nearby-card {
    padding-top: 0;
    padding-bottom: 0;
  }

  .similar-ads .popular-card-body .card-title {
    margin-bottom: 0;
  }

  .similar-ads .popular-card .card-small-link {
    margin-bottom: 9px;
  }

  .similar-ads .popular-card-body .card-text {
    margin-bottom: 8px;
  }

  .similar-ads .metro-station-text {
    font-size: 10px;
    line-height: 11px;
  }

  .apart-modal-wrapper {
    z-index: 2600;
  }

  .apart-modal .modal-body .swiper-container {
    height: 40%;
  }

  .modal-calculator {
    z-index: 2800;
  }

  .modal-calculator .apartment-info-calculate {
    padding: 0px;
  }

  /* ---------- END APARTMENT ---------- */

  /* ---------- DOCUMENTS ---------- */

  .a-i-calc-btn {
    padding: 10px 20px;
  }

  /* ---------- END DOCUMENTS ---------- */
}

@media (max-width: 375.98px) {
  .apart-modal .modal-body .swiper-container {
    height: 30%;
  }

  .card-slider .swiper-button-next,
  .card-slider .swiper-button-prev {
    width: 24px;
    height: 24px;
    transform: translateY(30%);
  }

  .card-slider .swiper-button-next:after,
  .card-slider .swiper-button-prev:after {
    content: '';
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 320.98px) {
  .search-map-content {
    max-width: 280px;
  }

  .telegram-card-content {
    max-width: 210px;
    min-width: 210px;
  }

  .attachment-link-img {
    width: 130px;
    height: 40px;
  }

  .modal-enter .modal-body {
    padding: 15px 20px 50px 20px;
  }

  /* Added To Favorites */

  .added-favorites {
    min-width: 310px;
  }

  .added-favorites-line {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* End Added To Favorites */

  /* ---------- PAGE CATALOG ----------  */

  .filter-btn-check {
    padding: 5px;
    font-size: 10px;
  }

  .page-arrow {
    width: 36px;
    height: 36px;
    margin-right: 6px;
    padding: 6px 8px;
  }

  .page-link {
    width: 36px;
    height: 36px;
    margin-right: 6px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map-card-swiper .popular-card {
    max-width: 300px;
  }

  .map-wrapper {
    margin-left: -4%;
  }

  /* ---------- END PAGE CATALOG ----------  */

  /* ---------- FAVORITES PAGE ---------- */

  .favorites-body-content .map-wrapper {
    margin-top: 11%;
  }

  .favorites-body-content .catalog-filters-wrapper-mobile .btn-map-mobile {
    background: #F1F2F6 url(../img/map-icon.png) no-repeat 5% center;
    font-size: 10px;
  }

  /* ---------- END FAVORITES PAGE ---------- */

  /* ---------- NEW APARTMENT ---------- */

  .nas-title {
    font-size: 16px;
    line-height: 24px;
  }

  .nas-card-title {
    font-size: 14px;
    line-height: 20px;
  }

  .comfort-card {
    max-width: 100%;
    padding: 12px 8px;
  }

  .comfort-card-icon {
    width: 26px;
    height: 26px;
  }

  .comfort-card-icon img {
    width: 26px;
    height: 26px;
  }

  .comfort-card-text {
    font-size: 10px;
    line-height: 14px;
  }

  /* ---------- END NEW APARTMENT ---------- */

  /* ---------- APARTMENT ---------- */

  .gallery-apart {
    height: 200px;
  }

  .a-i-calc-btn {
    padding: 10px;
    min-width: 140px;
  }

  .calc-btn-benefit {
    min-width: 140px;
  }

  .apartment .nas-btn-ghost {
    padding: 10px 5px;
  }

  .a-i-market-price-cash {
    font-size: 16px;
    line-height: 20px;
  }

  .a-i-market-price-text {
    line-height: 15px;
  }

  .a-i-calc-pay-cash {
    font-size: 14px;
    line-height: 18px;
  }

  .a-i-calc-pay-text {
    font-size: 12px;
    line-height: 16px;
  }

  .apart-info-top-number {
    font-size: 16px;
    line-height: 20px;
  }

  .apart-info-about-text {
    font-size: 13px;
    line-height: 20px;
  }

  /* ---------- END APARTMENT ---------- */
}